body {
    background-image: url("cityscape.jpg");
    background-color: #cccccc;
}

a {
    color: #ffffff;
}

h1 {
    color: #ffc33c;
    font-family: "Manglo";
    src: url("Manglo.ttf");
    text-shadow: 0.1em 0.1em 0.2em #aabb22, 
    -1.5px 0 #ffffff, 0 1.5px #ffffff;    
}

h3 {
    color: #ff2222;
    font-family: "Manglo";
    src: url("Manglo.ttf");
    text-shadow: 0.1em 0.1em 0.2em #aabb22, 
    -1.5px 0 #ffffff, 0 1.5px #ffffff;    
}

.main {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    width:60%;
    height: 550px;
    float:left;
}

.side {    
    width:20%;
    height:350px;
    float:left;
}